/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
 #map {
    height: 70%;
    width: 50%;
    float: right;
 }

 #vue-div {
     float: left;
 }
 /* Optional: Makes the sample page fill the window. */
 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }
